<div class="test">
    <div class="footer">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="followUS">
            <h3>Follow us!</h3>
            <div>
                <fa-icon class="icons" [icon]="youtube"></fa-icon>
                <fa-icon class="icons" [icon]="instagram"></fa-icon>
                <fa-icon class="icons" [icon]="facebook"></fa-icon>
                <fa-icon class="icons" [icon]="twitter"></fa-icon>
            </div>
        </div>
        <div class="copy">
            <p>&copy; 2022 All Rights Reserved</p>
        </div>
    </div>
</div>